<div id="page" class="container-fluid">
    <div class="row">
        <div id="header" class="col-xl-12">
             <div class="col-xl-6" id="lefthead">
                  <p id="left_text">Finding your favorite place to buy produce!</p>
             </div>
             Market Page



        <div class="row" id="content">
             <div class="col-lg-4" id="left_content">
                  <h3>Search By Ingredients</h3>
                  <img src="/veg2.jpg" alt="">
                  <p>Use this to search farmers markets by your favorite ingredients</p>

             </div>
             <div class="col-lg-4" id="middle_content">
                  <h3>Discover Markets</h3>
                  <img src="/map.jpg" alt="">
                  <p>Our interactive map allows you to view markets based on your zip code</p>
             </div>
             <div class="col-lg-4" id="right_content">
                  <h3>Write a Review</h3>
                  <img src="/notepad.png" alt="">
                  <p>Use our check in feature and write a review for markets in your area</p>


             </div>

</div>
