<!-- STEVEN'S EDITS -->
<style media="screen">
  .main {
    text-align: center;
    margin-top: 150px;
    background-color: #B6E19C;
  }

  * {
    background-color: #B6E19C;
  }

  #recipe_search_page {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 25px;
    background-color: #B6E19C
  }

  input {
    background-color: white;
  }


</style>

<!-- <br> -->
{{error}}
<div id="recipe_search_page" class="container-fluid">
<div class="main">
<h1>Search for Recipes Below by Entering in Items You Purchased at Your Local Market</h1>
<form action="/recipes" class="search_form" method="GET">
  <br><br>
    <input type="text" name="ingredient1" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient2" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient3" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient4" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient5" placeholder="search by ingredient" rows:>
    <button type="submit">Go</button>
</form><br><br>

</div>
</div>
