<!-- AARON'S EDITS -->
<style media="screen">
  .main {
    text-align: center;
    margin-top: 250px;
  }
</style>
<br>
{{error}}
<div class="main">
<h3>Search for Recipes Below by Entering in Items You Purchased at Your Local Market</h3>
<form action="/recipes" class="search_form" method="GET">
  <br><br>
    <input type="text" name="ingredient1" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient2" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient3" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient4" placeholder="search by ingredient" rows:>
    <input type="text" name="ingredient5" placeholder="search by ingredient" rows:>
    <button type="submit">Go</button>
</form>
</div>
