{{error}}
<form action="/recipes" class="search_form" method="GET">
  <br><br>
    <input type="text" name="ingredient1" placeholder="search by ingredient" rows:><br><br>
    <input type="text" name="ingredient2" placeholder="search by ingredient" rows:><br><br>
    <input type="text" name="ingredient3" placeholder="search by ingredient" rows:><br><br>
    <input type="text" name="ingredient4" placeholder="search by ingredient" rows:><br><br>
    <input type="text" name="ingredient5" placeholder="search by ingredient" rows:><br><br>
    <button type="submit">Go</button>
</form>
