<div id="page" class="container-fluid">
    <div class="row">
        <div id="header" class="col-xl-12">
             <div class="col-xl-6" id="lefthead">
                  <p id="left_text">Finding your favorite place to buy produce!</p>
             </div>
        </div>
      </div>

        <div class="row">
             <div class="col-lg-12" id="intro">
                  <h1>GetFresh!</h1><br>
                  <h5>Enter your zip code to find farmers markets near you:</h5>
                  <form action="/search_results" id="search_form" method="GET">
                      <input type="text" name="zipsearch" placeholder="search by zipcode" rows:>
                      <button type="submit">Go</button>
                  </form>

                  <div class="cool"><h5>For more features, sign up <a href="signup">here</a></h5></div>

               <div class="scrollclass">
                    <img src="/scroll2.png" alt="">
               </div>

             </div>

        </div>

        <div class="row" id="content">
             <div class="col-lg-4" id="left_content">
                  <h3>Search By Ingredients</h3>
                  <a href="/recipessearch"><img id="leftleftimg" src="/veg2.jpg" alt=""></a>
                  <p>Find Recipes for the produce you have!</p>
                 <p class="bottomthing"></p>


             </div>
             <div class="col-lg-4" id="middle_content">
                  <h3>Discover Markets</h3>
                  <img src="/map.jpg" alt="">
                  <p>Our interactive map allows you to view markets based on your zip code</p>
                  <p class='bottomthing'></p>
             </div>
             <div class="col-lg-4" id="right_content">
                  <h3>Write a Review</h3>
                  <img src="/notepad2.png" alt="">
                  <p>Use our check in feature and write a review for markets in your area</p>
                  <p class='bottomthing'></p>


             </div>
  </div>
</div>
