<style>
     * {
          text-align: center;
     }
     #signtitle{
          padding-bottom: 20px;
     }
     #goth{
     margin-left: -30px;
     padding-top: 20px;
     }


</style>
<div class="container" id="singupall">
     <h3 id="signtitle">Sign Up</h3>

     <form action="submit_registration" id="sign_up" method="POST">
       <input class="signel" type="text" name="username" placeholder="Username">
       <input class="signel" type="text" name="email" placeholder="Email address">
       <input class="signel" type="password" name="password" placeholder="Password">
       <button type="submit">Sign Up</button>
     </form>
     <img src="/goth.jpg" id="goth" alt="">
</div>
