

#loginid{
     float: right;
     padding-bottom: 7px;
}
#intro{
     height: 100vh;
     background-image: url("/23.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: black;
}
#search_form{
     text-align: center;

}
#search_form > input {
     width: 200px;
     height: 30px;
}
.infoimg{
     border-radius: 50%;
     padding-top: 30px;
}
h1 {
 padding-top: 5vh;
 text-align: center;
 color: white;
}

h5 {
  text-align: center;
}
.col-lg-4 {
     height: 100vh;
     text-align: center;

}
#lefthead{
     float: left;
     padding-left: 1vh;
}
#righthead{
     float: right;
     padding-top: 2vh;
     padding-right: 1vh;
}

#header {
  width: 100%;
  text-align: left;
}
#left_text{
     padding-top: 10px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 1.8em;
     color: rgb(125, 78, 15);
}

#sign_up {
  text-align: center;
}

.cool {
  text-align: center;
}
