#loginid{
     float: right;
     padding-bottom: 7px;
}
#intro{
  height: 100vh;
  background-image: url("/23.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: black;
}


#intro img {
  /*opacity: 0.6;*/
}
#search_form{
     text-align: center;
}
#search_form > input {
     width: 250px;
     height: 30px;
     text-align: left;
}

#intro h1 {
 padding-top: 5vh;
 text-align: center;
 color: black;
 font-size: 60px;
 font-family: 'Shrikhand', cursive;
}
.scrollclass{
     text-align: center;
     padding-top: 3%;
     position: relative;
}

#intro h5 {
  text-align: center;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 30px;
  color: black;
}

#intro a {
     color: rgb(159, 11, 156);
}
.col-lg-4 {
     height: 50vh;
     text-align: center;

}
#lefthead{
     float: left;
     padding-left: 1vh;
}
#righthead{
     float: right;
     padding-top: 2vh;
     padding-right: 15px;
}

#header {
  width: 100%;
  text-align: left;
}
#left_text{
     padding-top: 10px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 1.8em;
     color: rgb(125, 78, 15);
}
p {
font-family: 'Yanone Kaffeesatz', sans-serif;
}

#sign_up {
  text-align: center;
}

.cool {
  text-align: center;
}

p {
     font-size: 20px;
}
.bottomthing{
     padding-bottom: 15px;
}
#leftleftimg {
     border-radius: 50%;
     padding-top: 30px;
     padding-bottom: 20px;
     width: 60%;

}

#right_content img {
     width: 46%;
     padding-bottom: 20px;
}

#middle_content img {
     border-radius: 50%;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 60%
}
#content {
font-family: 'Yanone Kaffeesatz', sans-serif;
}
#content h3{
font-size: 35px;
}

/*MARKET PAGE STYLES*/

#market_details{
     text-align: left;
     padding-top: 25px;
     background-color: white;
}
#market_details_jumbo {
     background-color: rgb(80, 83, 87);
     color: white;

}


#reviews {
  text-align: justify;
  font-family: 'Pragati Narrow', sans-serif;

}

#star_rating {
  text-align: center;
  /*margin-left: 10px;*/
}

#content_area {
  text-align: center;
  /*margin-right: 10px;*/
}


#write_review_jumbo{
     text-align: left;
     background-color: white;
     margin-left: 0px;
     padding-left: 0px;
}
#write_review_label{
     padding-left: 30px;
}
.write_review_title{
     width: 200px;
}




/*SIGN UP STYLES!!!!!!!!!SIGN UP STYLES!!!!!!!!*/
#sign_up {
     padding-left: 5vh;
     margin-top: -10px;
}
.signel{
     height: 30px;
     width: 200px;
     text-align: center;
     margin: 5px;
}
.logstatus{
     float: right;
     padding-top: 1px;
     padding-left: 10px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 1.4em;
}
.logbutton{
     float: right;
     padding: 10px;
}
